.customNavigationAwards, .customNavigationPractices, .customNavigationResults {
	position: absolute;
	width: 100%;
	top: 65%;
	left: 0;
	transform: translateY(-65%);
	height: 32px;
}

/*Slider*/
.carousel-holder {
	background: $white;
	text-align: center;

	.carousel {
		padding: 12px 0 0;
		position: relative;
		white-space: nowrap;
		height: 243px;  //IE11 needs height

		.mask {
			position: relative;
			overflow: hidden;
			width: 100%;

			.slide {
				display:inline-block;

				@media screen and (min-width: 992px) {
					width: 100%;
					//margin-right: 64px;
				}

				@media screen and (min-width: 768px) {
					width: auto;
				}
			}
		}

		.icon-chevron-left,
		.icon-chevron-right {
		    left: 0;
		    text-align: center;
		    white-space: nowrap;
		    z-index: 2;
		    text-decoration: none;
		    transition: none;
		    padding: 0;
		    cursor: pointer;
		    position: relative;
		    float: left;
		    border: none;
		       
		    @media screen and (max-width: 767px) {
		    	left: 15px;
		    }

		    @media screen and (max-width: 480px) {
		    	left: 3px;
		    }		 

		    span {
		    	margin: 1px 0 0;
		    	font-size: 30px;
		    }

		    &:hover,
		    &:focus {
		    	color: darken($white, 5%);
		    }
		    &:before {
		    	top: 50%;
		    	transform: translateY(-50%);
		    	width: 100%;
		    	left:0;
		    	position: absolute;
		    }
		}

		.icon-chevron-right {
			left: auto;
			float: right;


			@media screen and (max-width: 767px) {
				right:15px;
			}

			@media screen and (max-width: 480px) {
				right:3px;
			}			
		}
	}

	&#callouts {
		overflow: hidden;
		.slick-slider .slick-slide{
			display: table;
			
			@media screen and (min-width: 1200px) {
				margin-right: 14px;
			}
		}
	}

	span {
		padding: 4px 0 15px;
		position: relative;
		margin: 0 0 34px;
		border-bottom: 1px solid #cecece;
		display: block;
	}
	.slick-slider {
		 .slick-slide{
		 	height: 166px;
		 	display: table;
		 	img {
				width: inherit;
				display: inline-block;
				max-width: 100%;
			}
			.item {
				display: table-cell;
			}
		}
	}
	.image-holder {
		display: table-cell;
		vertical-align: middle;
	}
}

#association-rack {
	padding: 0 38px;
}