/* Breadcrumb Styles */
.breadcrumb-container {
	width: 100%;
	margin-top: 12px;
	position: relative;
	z-index: 1;
	.breadcrumb {
		font-size: 14px;
		line-height: 22px;
	    padding: 16px 0;  //custom
	    margin: 0;  //custom
	    list-style: none;
	    border-radius: 0;
	    color: #aeb1b2;
	    background: $white;

		a {
			text-decoration: none;
			color: #5a9bb3;

			&:after {
				content: '|';
				positon: relative;
				margin: 0 15px;
				display: inline-block;
				color: #aeb2b2;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}
}